*{
    box-sizing: border-box;
}

body{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-color: #f29559;
}

h1{
    text-align: center;
    color: #202c39;
    text-decoration: underline;
    transition: color 0.3s ease;
}

h1:hover{
    color: white;
}

h2{
    font-size: 23px;
    text-shadow: 2px 3px 4px #202c39;
}

strong{
    font-size: 20px;
    text-shadow: 2px 3px 4px #202c39;
}

.container{
    /* background-color: #4bddc4; */
}

h2{
    display: flex;
    text-align: center;
}

/* #secHeading{ */
    
    /* background: -webkit-linear-gradient(45deg, #ff6600, #33cc33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
/* } */

.table-number{
    float: right;
    padding: 5px;
    padding-bottom: 10px;
}

table{
    border-collapse: collapse;
    width: 50%;
    background-color: #202c39;
    margin-right: 100px;
}

th{
    text-align: left;
    color: #f2d492;
}

th, td{
    padding: 5px;
}

td{
    color: #fff;
}

#orderBtn{
    text-align: center;
    margin: 0 auto;
    /* border-radius: 5px; */
    cursor: pointer;
}

.menu{
    display: flex;
    border-radius: 15pxl
}

.drinks{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    width: 300px;
    margin-left: -80px;
    border-radius: 15px;
}

.drinks ol li {
    margin: 0;
}

.final-orderList{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: 2px solid black; */
    margin-left: 15px;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
}

.order-table{
    display: flex;
}

/* #table-order{
    background-color: black;
} */
.bottom-total{
    position: absolute;
    margin-bottom: -500px;
}

.order-table th, .order-table td{
    padding: 20px;
    padding-right: 100px;
}